.login_container{
    //    border:1px solid black;
       box-sizing: content-box;
       width:100%;
       height:auto;
       background-color: #ced4da;
       display: flex;
       justify-content: center;
       margin:auto;
       padding: 112px 0;
       overflow-x:hidden;

    .login{
        // border:1px solid black;
        height:500px;
        display: flex;
        border-radius: 20px;
        overflow: hidden;  
        background-color: white;

        .login_left{
            background-color: rgb(92, 195, 235);
            border-radius: 20px;
            flex:1;
            .login_img{
                height:100%;
                width:100%;
            }
        }
        
        .login_right{
            flex:1;
            display: flex;
            flex-direction: column;
            gap:10px;
            padding: 30px;
            .login_form{
                display: flex;
                flex-direction: column;
                gap:10px;
                .title{
                    font-size: 28px;
                    color:black
                }
                .register_link{
                    color:silver;
                    .signup_link{  
                        text-decoration: none;
                        margin-left: 5px;
                        color:rgb(92, 195, 235);
                    }
                }
                .actual_form{
                    display: flex;
                    flex-direction: column;
                    gap:20px;
                    margin-top: 20px;
                    .actual_form_title{
                        font-size: 28px;
                        color:black;
                    }
                    input{
                        padding: 10px 10px;
                    }
                    .checkbox{
                        display: flex;
                        justify-content: space-between;
                        .check_box{
                            display: flex;
                            gap:10px; 
                        }
                        .checkbox_link{
                            text-decoration: none;
                            color:rgb(92, 195, 235);
                        }
                    }
                    .login_btn{
                        width: 95%;
                        text-decoration: none;
                        background-color: rgb(101, 101, 225);
                        color:white;
                        padding: 10px;
                        text-align: center;
                        border-radius: 10px;
                        cursor: pointer;
                       
                    }
                }
            }
            .or{
                text-align: center;
            }
            .login_social_media{
                display: flex;
                justify-content:center ;
                align-items: center;
                gap:10px;
                cursor: pointer;
            }
        }
    }
}