.t_container{
    width:100%;
    display: flex;
    justify-content: space-between;
    gap:20px;
    width:100%;
    padding: 10px;

    .timeline_left{
        display: flex;
        gap:40px;
        .t_left{
            .t_time_text{
                color:#3d5ee1;
                font-size: 17px;
                font-weight: bold;
            }
        }
    
        .middle_content{
            display: flex;
            flex-direction: column;
            gap:15px;
            position:relative;

            .head{
                color: black;
                font-size: 18px;
                font-weight: 500;
            }
            .bottom{
                display: flex;
                align-items: center;
                gap:10px;
                margin-top:-10px ;
                .icon{
                   font-size: 14px;
                   color:silver;
                   font-weight: 300;
                }
                .time{
                    font-size: 14px;
                    color:#A098AE;
                    font-weight: 300;
                }
            }
            .outer_circle{
                background-color:#3d5ee1;
                height:14px;
                width:14px;
                border-radius: 50%;
                position: absolute;
                top:5px;
                left:-25px;

                .inner_circle{
                    background-color: white;
                    height:7px;
                    width:7px;
                    border-radius: 50%;
                    position: absolute;
                    top:3.5px;
                    left:3.5px;
                }
            }
    
        }
    }
    
    .btn_right{
        border:none;
        color:black;
        font-size: 14px;
        padding: 5px 15px;
        background-color: rgb(245, 255, 255);
        
        &:hover{ 
            border-radius: 5px;
            background-color: #009efb;
            color:white;
        }
    }
    
}